/* Footer.css */

.footer_outer_container {
  background-color: #111;
  color: grey;
  display: flex;
  justify-content: center;
  padding: 60px 20px 40px;
  border-top: 8px solid #222;
}

.footer_inner_container {
  width: 80%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}

.footer_icons {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.footer_icons svg {
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s;
}

.footer_icons svg:hover {
  color: #e50914;
}

.footer_data {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  margin-bottom: 30px;
}

.footer_column {
  flex: 1;
  min-width: 150px;
}

.footer_column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer_column li {
  margin-bottom: 16px;
  font-size: 14px;
  cursor: pointer;
  color: #757575;
}

.footer_column li:hover {
  text-decoration: underline;
}

.service_code {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  width: 120px;
  height: 36px;
  margin: 10px 0 20px 0;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 20px;
}

.service_code:hover {
  border-color: white;
  color: white;
}

.copy-write {
  font-size: 12px;
  color: #757575;
}